#nav-bar  {
    background-color: #00a087;
    height: 80px;
    width: 100%;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em; 
    top: 0;
    right: 0;
    font-size: 1em;
    position: fixed;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

#nav-bar .header {
    float: left;
    font-size: 2em;
    line-height: 120%;
    padding-left: 10px;
    line-height: 250%;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px;
}   

.nav-div{
    display: flex;
    justify-content: flex-end;
}

.compose-button {
margin-top: 8px;
padding: 20px;
background-color: #e8fdff;
color: #00a087;
border-radius: 5px;
}

.compose-button:hover {
    color: black;
    background-color: white;
}

